apiVersion: v1
kind: ConfigMap
metadata:
  name: landing-page-nginx
data:
  nginx.conf: |
    worker_processes 1;
    error_log /tmp/error.log warn;
    pid /tmp/nginx.pid;

    events {
      worker_connections 64;
    }

    http {
      include /etc/nginx/mime.types;
      default_type application/octet-stream;
      client_body_temp_path /tmp/client_temp;
      proxy_temp_path /tmp/proxy_temp;
      fastcgi_temp_path /tmp/fastcgi_temp;
      uwsgi_temp_path /tmp/uwsgi_temp;
      scgi_temp_path /tmp/scgi_temp;

      server {
        listen 8080;
        server_name _;
        root /usr/share/nginx/html;
        index index.html;
      }
    }
