global:
  scrape_interval: 15s
  evaluation_interval: 15s

rule_files:
  # - "first_rules.yml"
  # - "second_rules.yml"

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'node'
    static_configs:
      - targets: ['node-exporter:9100']

  - job_name: 'ollama-cpu'
    static_configs:
      - targets: ['ollama-cpu:11434']
    metrics_path: '/api/metrics'
    scrape_interval: 30s

  - job_name: 'open-webui'
    static_configs:
      - targets: ['open-webui:8080']
    metrics_path: '/api/metrics'
    scrape_interval: 30s