apiVersion: apps/v1
kind: Deployment
metadata:
  name: oauth2-proxy
  labels:
    app: oauth2-proxy
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: oauth2-proxy
  template:
    metadata:
      labels:
        app: oauth2-proxy
    spec:
      containers:
        - name: oauth2-proxy
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          args:
            - --http-address=0.0.0.0:4180
            - --provider={{ .Values.config.provider }}
            - --provider-display-name={{ .Values.config.providerDisplayName }}
            - --oidc-issuer-url={{ .Values.config.oidcIssuerUrl }}
            - --cookie-name={{ .Values.config.cookieName }}
            - --cookie-secure={{ .Values.config.cookieSecure }}
            - --cookie-domain={{ index .Values.config.cookieDomains 0 }}
            - --cookie-secret={{ .Values.config.cookieSecret }}
            - --email-domain={{ index .Values.config.emailDomains 0 }}
            - --pass-basic-auth={{ .Values.config.passBasicAuth }}
            - --pass-access-token={{ .Values.config.passAccessToken }}
            - --set-xauthrequest={{ .Values.config.setXAuthRequest }}
            - --set-authorization-header={{ .Values.config.setAuthorizationHeader }}
            - --upstream={{ .Values.config.upstream }}
            - --reverse-proxy=true
            - --skip-provider-button=true
            - --oidc-extra-audience=account
            - --ssl-insecure-skip-verify={{ .Values.config.sslInsecureSkipVerify | default false }}
          env:
            {{- range $key, $val := .Values.secretEnv }}
            - name: {{ $key }}
              valueFrom:
                secretKeyRef:
                  name: {{ $val.secretName }}
                  key: {{ $val.key }}
            {{- end }}
          ports:
            - name: http
              containerPort: 4180
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /ping
              port: http
            initialDelaySeconds: 5
            periodSeconds: 30
          readinessProbe:
            httpGet:
              path: /ping
              port: http
            initialDelaySeconds: 5
            periodSeconds: 10
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
