apiVersion: v1
kind: ConfigMap
metadata:
  name: time-slicing-config
  namespace: gpu-operator
data:
  rtx-5080: |-
    version: v1
    flags:
      migStrategy: none  # MIG not supported on RTX 5080
    sharing:
      timeSlicing:
        renameByDefault: false
        failRequestsGreaterThanOne: false
        resources:
          - name: nvidia.com/gpu
            replicas: 4  # Creates 4 virtual GPUs from single RTX 5080
