apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "ollama.fullname" . }}
  labels:
    {{- include "ollama.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  strategy:
    type: Recreate
  selector:
    matchLabels:
      {{- include "ollama.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "ollama.selectorLabels" . | nindent 8 }}
        app.kubernetes.io/component: inference
    spec:
      {{- with .Values.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          {{- with .Values.securityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          ports:
            - name: http
              containerPort: 11434
              protocol: TCP
          env:
            {{- range $key, $value := .Values.env }}
            - name: {{ $key }}
              value: {{ $value | quote }}
            {{- end }}
          volumeMounts:
            {{- if .Values.modelsPersistence.enabled }}
            - name: models
              mountPath: {{ .Values.modelsPersistence.mountPath }}
            {{- end }}
          resources:
            {{- if .Values.gpu.nvidia.enabled }}
            limits:
              {{- with .Values.resources.limits }}
              cpu: {{ .cpu }}
              memory: {{ .memory }}
              {{- end }}
              nvidia.com/gpu: {{ .Values.gpu.nvidia.count }}
            requests:
              {{- with .Values.resources.requests }}
              cpu: {{ .cpu }}
              memory: {{ .memory }}
              {{- end }}
              nvidia.com/gpu: {{ .Values.gpu.nvidia.count }}
            {{- else }}
            {{- toYaml .Values.resources | nindent 12 }}
            {{- end }}
          {{- with .Values.livenessProbe }}
          livenessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.readinessProbe }}
          readinessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
      volumes:
        {{- if .Values.modelsPersistence.enabled }}
        - name: models
          persistentVolumeClaim:
            claimName: {{ include "ollama.modelsPvcName" . }}
        {{- end }}
