image:
  repository: redis
  tag: 7.4-alpine
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 6379

auth:
  enabled: true
  existingSecret: redis-secret
  passwordKey: redis-password

persistence:
  enabled: true
  size: 8Gi
  storageClass: ""
  accessMode: ReadWriteOnce

resources:
  requests:
    cpu: 100m
    memory: 256Mi
  limits:
    cpu: 500m
    memory: 1Gi

nodeSelector: {}
tolerations: []
affinity: {}
